body{
    background-color: rgb(255, 188, 234);
    color: blanchedalmond;
    margin: 0px;
}


header{
    border: double 5px plum:
    font-size: 50px;
    h1{
        font-size:35px ;
        }
 p{

}